.container {
  max-width: 900px;
  margin-top: -62px;

}

.card {
  border-radius: 12px;
  background-color: #fff;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

.btn-orange {
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-orange:hover {
  background-color: #ff5500;
}

.btn{
  margin-top: 46px;
  width: 80px;
  height: 35px;
  margin-left: 10px;
}
